@page "/ConsultaProductos"

@using Models
@using Parcial1_AP2.BLL



<div class="card">
    <div class="card-header">
        <h3>Consulta de Productos</h3>
    </div>
    <div class="card-body">
        <select class="form-control" placeholder="Seleccione un criterio">
            <option value="0">Descripción</option>
            <option value="1">Existencia</option>
            <option value="0">Costo</option>
        </select>
    </div>
</div>


@code {

}
